<div class="main-login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 color_bg_with_image text-center">
        <div class="welcome_screen">
          <div class="welcome_text">
            <h2>
              Welcome to Conduct
            </h2>
            <p>
              A product by <a href="https://raoinformationtechnology.com">Rao Information Technology</a>
            </p>
          </div>
          <img src="../../assets/login-form.png" class="login_form_image" alt="login form image"/>
        </div>
      </div>
      <div class="col-lg-6 login_options_with_card text-center">
        <div class="login_options_card">
          <img src="../../assets/rao_conduct_logo_blue.png" class="logo_image" alt="login form image"/>
          <ul class="social_login_buttons">
            <li>
              <a (click)="loginWithGoogle()" class="login_btn google_login">
                <span>
                  <img src="../../assets/google.png" alt="login form image"/>
                  Continue With Google
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
