  .due_date_sorting_btn,
  .priority_sorting_btn {
      padding: 9px 20px!important;
      border: 1px solid #181123;
      outline: none;
      background: none;
      margin: 1px;
  }
  
  .sorting_arrows {
      cursor: pointer;
  }
  
  .isActive {
      background: #bec1c5;
      border: rgb(129, 136, 114);
      border-radius: 100%;
  }
  
  .sorting input {
      text-align: center;
      font-size: 16px;
      cursor: pointer;
  }
  
  .sorting button {
      border: 1px solid #cccccc;
      margin: 5px;
      background: white;
  }
  
  .sorting {
      cursor: pointer;
  }