.rowColor {
    background-color: #fbfbfb;
}

.searchBar {
    position: absolute;
    top: 19px;
    left: 4px;
    font-size: 18px;
}

.customClass {
    display: flex;
    align-items: center;
    justify-content: start;
}

table.mat-table {
    width: 100% !important;
}

h4.card-title {
    color: #3998c5;
}
.timeLogModal{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media(max-width:1440px){
    table.mat-table{
        margin-bottom: 15px;
    }
}